body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-auto-rows: 85px;
}

main > * {
    display: flex;
    align-items: center;
}


.jokeItem {
    background: rgb(70,48,243);
    background: linear-gradient(90deg, rgba(70,48,243,1) 0%, rgba(43,156,239,1) 12%, rgba(110,48,243,1) 52%, rgba(43,156,239,1) 82%, rgba(70,48,243,1) 100%);
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.30s ease;
}

.deleteItem {
    background: rgb(173,38,43);
    background: linear-gradient(90deg, rgba(173,38,43,1) 0%, rgba(255,0,44,1) 50%, rgba(173,38,43,1) 100%);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
}

.fa-trash-alt {
    font-size: 20px;
    text-shadow: black 1px 1px 15px;
    color: white;
}