body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(98, 33, 248, 0.986);
    background: linear-gradient(90deg, rgb(255, 197, 71) 0%, rgb(255, 197, 71) 50%, rgb(255, 197, 71) 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&display=swap');



.wrapper__div {
    height: 85px;
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-auto-rows: 85px;
    margin-top: 20px;
    transition: height 0.15s ease;
    
}

.collapsed {
    height: 0;
} 

.wrapper__div > * {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.swipeItem {
    background: rgb(48, 51, 243);
    background: linear-gradient(90deg, rgb(255, 198, 93) 0%, rgb(255, 146, 45) 12%, rgb(245, 33, 33) 52%, rgb(255, 146, 45) 82%, rgba(255, 198, 93) 100%);
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.10s ease;
    font-size: 18px;
    font-family: 'Baloo Chettan 2';
    box-shadow: rgb(248, 100, 1) 1px 1px 10px;
}

.second {
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 20px;
    cursor: pointer;
    transition: 1s ease;
}

.deleteItem {
    background: rgb(173,38,43);
    background: linear-gradient(90deg, rgb(255, 5, 80) 0%, rgb(255, 5, 80) 12%, rgb(114, 8, 8) 50%, rgb(255, 5, 80) 86%, rgba(255, 5, 80) 100%);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
}

.second__button {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
}

.fa-trash-alt {
    font-size: 20px;
    text-shadow: black 1px 1px 15px;
    color: white;
}

.fa-dice-d20 {
    margin-left: 20px;
    font-size: 35px;
    text-shadow: rgb(250, 59, 59) 1px 1px 10px;
}

.fa-user-friends {
    
}

.header__paragraph {
    color: white;
    text-align: center;
    margin-top: -20px;
    font-family: 'Dela Gothic One';
    font-size: 12px;
}

nav {
    height: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: -12px;
    background: rgb(48, 51, 243);
    background: linear-gradient(90deg, rgb(255, 93, 93) 0%, rgb(255, 41, 41) 12%, rgb(240, 17, 17) 52%, rgb(255, 41, 41) 82%, rgb(255, 93, 93) 100%);
    box-shadow: red 1px 1px 10px;
}

h2 {
    color: white;
    align-self: center;
    margin: 10px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Dela Gothic One', cursive;
}

.trash-2 {
    margin: 20px;
    align-self: center;
    color: white;
}

.deleteButton__large {
    justify-self: center;
}

.delete__nav {
    color: black;
}